NETWORK_NAME=worm-private
NETWORK_CIDR=10.20.0.0/16

VSWITCH_NAME=worm-private
CLOUD_SUBNET_CIDR=10.20.0.0/24
VSWITCH_SUBNET_CIDR=10.20.1.0/24

NETWORK_ZONE=eu-central

OPNSENSE_PRIVATE_IP=10.20.0.2

APPLY_CHANGES=no
