HETZNER_CLOUD_TOKEN=

HETZNER_ROBOT_USER=
HETZNER_ROBOT_PASSWORD=

OPNSENSE_URL=
OPNSENSE_API_KEY=
OPNSENSE_API_SECRET=

OPNSENSE_SSH_HOST=
OPNSENSE_SSH_USER=root
OPNSENSE_SSH_PORT=22

APPLY_CHANGES=no

